@import "reset.css";
@import "//at.alicdn.com/t/font_1982726_dyfpn5fa3dj.css";

/*unique*/
body {
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
}
a {
  color: #41ac52;
  font-size: 13px;
  cursor: pointer;
}
button {
  cursor: pointer;
}
ul {
  word-break: break-all;
}
/*unique end*/

/* common start   */
.header {
  padding-top: 30px;
}
.container {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.leftside {
  float: left;
  margin-right: 20px;
}
.rightside {
  float: right;
  width: 25px;
  margin-right: 30px;
}
.middleside {
  overflow: hidden;
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.hidden {
  display: none;
}
.adv img {
  width: 100%;
}
.section-title {
  color: #072;
  margin: 10px 0;
  font-size: 15px;
  display: inline-block;
}
.section-title::after {
  content: "......";
}
.section-link {
  color: #669;
  font-size: 13px;
}

.section-link:hover {
  color: #ffffff;
  background-color: #669;
}
/* common end*/

/*header part*/
.header .container {
  width: 1080px;
  height: 34px;
  margin: 0 auto 25px;
}

.header .container .logo {
  cursor: pointer;
  text-decoration: none;
  display: block;
  background: url("../images/logo_db.png") no-repeat;
  width: 154px;
  height: 30px;
  margin-right: 30px;
}
.header .search {
  position: relative;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  margin-right: 20px;
}
.header .search .searchbox {
  width: 242px;
  font-size: 13px;
  height: 20px;
  padding: 5px;
}

.header .search .btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.header .nav a {
  display: inline-block;
  width: 40px;
  margin-top: 6px;
  height: 20px;
  background: url("../images/anony_nav_logo.png");
  margin-left: 18px;
}

.header .nav .nav-read {
  background-position: 0 0;
}

.header .nav .nav-movie {
  background-position: -60px 0;
}
.header .nav .nav-music {
  background-position: -120px;
}
.header .nav .nav-samecity {
  background-position: -180px 0;
}
.header .nav a.nav-group {
  background-position: -240px 0;
}
.header .nav a.nav-yuedu {
  background-position: -300px 0;
}
.header .nav .nav-fm {
  background-position: -360px 0;
}
.header .nav .nav-time {
  background-position: -420px 0;
  width: 43px;
}
/*header part done*/

/*main part*/
.main {
  height: 304px;
  margin-bottom: 50px;
  background: url("../images/background.jpg") no-repeat top left/750px 100%;
  background-color: #eef4ee;
  position: relative;
}
.main .logo {
  width: 150px;
  height: 24px;
  margin: 7px 0;
  font-size: 25px;
  color: #111;
  line-height: 24px;
  position: absolute;
  left: 690px;
  top: 90px;
}
.main .logo .version {
  font-size: 25px;
  margin-left: 10px;
  font-weight: 100;
}

.main div.download {
  position: absolute;
  top: 150px;
  left: 690px;
}

.main button.download {
  width: 115x;
  height: 30px;
  background-color: #00b51d;
  color: #ffffff;
  font-size: 12px;
  vertical-align: top;
  margin: 2px;
  border-radius: 2px;
  vertical-align: top;
}
.main .download div.qlcode {
  margin: 3px;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 2px;
  box-sizing: border-box;
  position: relative;
}
.main .download div.qlcode .qlcode-image {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.main .download div.qlcode i:hover + div {
  display: block;
}
.main .download div.qlcode .qlcode-image img {
  width: 70px;
  height: 70px;
}
.main .download div.qlcode .qlcode-image span {
  color: #333;
  font-size: 13px;
  text-align: center;
}

.main .download div.qlcode i {
  line-height: 20px;
  font-size: 30px;
  color: green;
}

.main .form {
  height: 256px;
  width: 280px;
  padding: 30px 10px 10px;
  overflow: hidden;
  position: absolute;
  right: 255px;
  color: #9b9b9b;
  line-height: 2;
}

.form label.login {
  text-align: center;
}
.form .login li {
  display: inline-block;
  width: 140px;
  font-size: 13px;
  cursor: pointer;
}
.selected {
  font-weight: bolder;
  color: #333;
  border-bottom: 1px solid #494949;
}
.form form div.protocol {
  width: 280px;
  font-size: 12px;
  margin: 10px 0;
}
.form div a.private {
  font-size: 12px;
}
.form .tele {
  border: 1px solid #e4e6e5;
  padding: 4px 0;
  margin-bottom: 10px;
}
.form .tele .zone,
.number {
  display: inline-block;
  text-indent: 4px;
  height: 30px;
}
.form .tele .zone {
  width: 32px;
  border-right: 1px solid #e4e6e5;
  font-size: 15px;
}
.form .tele .number {
  width: 200px;
}

.form .validate {
  border: 1px solid #e4e6e5;
  width: 280px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.form .validate .text {
  height: 30px;
  text-indent: 5px;
}

.form .validate .rqcode {
  color: #41ac52;
}

.form .loging .sub {
  width: 280px;
  height: 33px;
  background: #41ac52;
  font-weight: 400;
  border-radius: 6px;
}
.form .loging .sub:disabled {
  color: #ffffff;
  background-color: rgba(66, 189, 86, 0.5);
}
.form .check {
  border-bottom: 1px solid #e4e6e5;
}
.form .check .checkbox {
  display: inline-block;
}
.form .check .auto {
  color: #333;
  font-size: 13px;
}

.form .check .error {
  color: #41ac52;
  font-size: 13px;
  cursor: pointer;
}

.form .thirdpart .login {
  font-size: 11px;
  color: #9b9b9b;
}

.form .thirdpart a {
  margin-left: 10px;
}

.form .thirdpart .weixin {
  color: #00b51d;
}
.form .thirdpart .weibo {
  color: red;
}

.form .choose-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

.form .choose-area .center {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #bbb;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

.form .choose-area .center .title {
  font-size: 1.17em;
  background: #ebf5eb;
  padding: 10px 10px 6px;
  color: #060;
  font-weight: bold;
}

.form .choose-area .center .list {
  height: 170px;
  box-sizing: border-box;
  overflow: auto;
  background: #ffffff;
}
.form .choose-area .center .list li {
  margin-left: 5px;
  line-height: 2.6;
  color: #494949;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
}
.form .choose-area .center .list li.selected {
  color: #00b51d;
}

.form .password {
  box-sizing: border-box;
}
.form .password a {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.form .password .input {
  border: 1px solid #e4e6e5;
  display: block;
  width: 99%;
  height: 30px;
  text-indent: 5px;
  text-indent: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
}
/*main part done*/

/*popular part*/
.containers .section:nth-child(even) {
  background-color: #f7f7f7;
}
.containers .container {
  box-sizing: border-box;
}
.container .leftside {
  width: 360px;
}

/*leftside*/
.container .leftside .pics {
  width: 360px;
  text-align: left;
}
.container .leftside .popular {
  color: #072;
  font-size: 15px;
  margin: 10px;
}
.container .leftside .pic {
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}
.container .leftside .pics .img {
  width: 170px;
  height: 170px;
  display: inline-block;
  cursor: pointer;
}
.container .leftside .pics .text {
  font-size: 12px;
  color: #669;
  cursor: pointer;
}
.container .leftside .pics .text .txt {
  color: #999;
  margin-left: 5px;
}
.container .leftside .pics .pic .i1 {
  background: url("/workout1-Douban-mainpage/images/smile.webp");
}
.container .leftside .pics .pic .i2 {
  background: url("/workout1-Douban-mainpage/images/poetry.webp");
}
.container .leftside .pics .pic .i3 {
  background: url("/workout1-Douban-mainpage/images/tomorrow.webp");
}
.container .leftside .pics .pic .i4 {
  background: url(/workout1-Douban-mainpage/images/banhui.webp);
}

.container .middleside {
  width: 275px;
}

.container .middleside li {
  line-height: 1.62;
  margin-bottom: 12px;
}
.container .middleside li a {
  display: inline-block;
  color: #669;
}
.container .middleside li:first-child a {
  margin-bottom: 1px;
}
.container .middleside li:first-child .title {
  color: #999;
  font-size: 12px;
}
.container .middleside li:first-child .content {
  color: #666;
  font-size: 12px;
}

.container .rightside {
  box-sizing: border-box;
  width: 250px;
}
.container .rightside ul li {
  margin-bottom: 15px;
  margin-top: 10px;
}
.container .rightside ul li a {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1.3;
}
.container .rightside ul li span {
  display: block;
  font-size: 13px;
  line-height: 1;
  color: #aaaaaa;
  white-space: nowrap;
}
.container .rightside ul li a span {
  margin-left: 5px;
  display: inline-block;
}

/*douban time*/
.containers .section {
  padding-top: 40px;
  width: 100%;
  height: 614px;
}
.containers .time .leftside {
  width: 100px;
}
.containers .time .leftside a {
  font-size: 24px;
  color: #494949;
}
.containers .time .middleside {
  width: 830px;

  overflow: hidden;
}
.containers .time .middleside .title {
  margin-bottom: 12px;
}

.containers .time .middleside span {
  line-height: 0.5;
}
.containers .time .middleside .pics li {
  vertical-align: top;
  width: 100px;
  height: 230px;
  margin-right: 60px;
  margin-bottom: 30px;
  text-align: center;
  display: inline-block;
}
.containers .time .middleside .pics li img {
  height: 141px;
  margin-bottom: 10px;
  cursor: pointer;
}
.containers .time .middleside .pics li div {
  color: #333333;
  font-size: 13px;
  line-height: 1.38;
}
.containers .time .middleside .pics li span {
  margin-top: 10px;
  color: #999999;
  line-height: 1;
  margin-top: 10px;
  display: block;
  font-size: 12px;
}
